
.box {
    margin: 30px;
    background-color: aquamarine;
    width: 150px;
    height: 100px;
}



#rotate {
    transform: rotate(90deg);
}

#scale {
    transform: scale(0.8);
}

#skew {
    transform: skew(23deg);
}

#translate {
    transform: translate(200px, -61px);
}


/* Animation step #1
define @keyframes for the animation sequence */

@keyframes colorchange {
    from {background-color: darkturquoise;}
    to {background-color: lightsalmon;}
}
@keyframes colorchangesmooth {
    0% {background-color: darkturquoise;}
    50% {background-color: lightsalmon;}
    100%{background-color: darkturquoise;}
}

/* Step 2 animation
configure animation on an HTML element*/

#animated-box {
    background-color: darkorange;
    width: 200px;
    height: 200px;
    animation-name: colorchangesmooth;
    animation-duration: 2sec;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: matrix(0, 1, 1, 0, 0, 0);
    }
    50% {
        scale: 8;
    
    }
    75% {
        transform: translate3d(10px, 100px);
    }
    100% {
        transform: rotate(360deg) translate(20px, 20px);
    }
}

#animated-emoji {
    font-size: 50px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}